@model Pizza

<div class="container mx-auto p-2 d-flex flex-column align-items-center" style="width: 200px;">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@Model.Nome</h5>
            <p class="card-text">@Model.Descrizione</p>
            <p class="card-text">@Model.Prezzo</p>
        </div>
        <img src="@Model.Foto" class="card-img-top" alt="...">
    </div>

    <button type="button" class="btn btn-primary mt-3">
        <a class="text-decoration-none text-reset" href="@Url.Action("Index","Pizza")">Torna alle pizze</a>
    </button>
</div>


